*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: $lightBlue;

    /** Me love you <3 **/
}
.main {
    position: relative;
    display: flex; flex-wrap: wrap;
    width: 100%;

    .section-one {
        position: relative;
        top:0;
        left:0;
        width:100%;
        height: 90vh;
        //z-index: -1;
 
        .section-one-image{
            position: absolute; width: 100%; height: 100%; overflow: hidden;
            filter: blur(2.5px); z-index: -1;
            img{
                position: relative; width: 100%; transform: scaleX(-1); /* Flips the image horizontally */
            }
        }

        .section-one-shadow-wrapper {
            position: relative; left: 0px; top: 0px; width: 100%; height: 100%;
            background: rgba(0,0,0,0.5); padding: 120px 0px;

            .section-one-inner-wrapper{
                position: relative; width: 1400px; left: calc(50% - 700px);
                height: calc(100% - 0px);
                //background: red;

                .section-one-upper-info {
                    display: flex;
                    justify-content: space-between;
                    //background: #9ca3af;
                    .section-one-upper-info-1 {
                        img{
                            width: 200px; height: 100%;
                        }
                    }
                    .section-one-upper-info-2 {
                        i{
                            color: #FFFFFF; font-size: 32px;
                        }
                    }
                }
                .section-one-middle-info {
                    display: block;
                    //background: yellow;
                    min-height: 100px;
                    gap: 45px;
                    .section-one-middle-info1 {
                        margin-top: 100px;
                        h4 {
                            font-family: "RighteousRegular", sans-serif;
                            background-color: white;
                            color: black;
                            padding: 2px 10px;
                            width: fit-content;
                        }
                    }
                    .section-one-middle-info2 {
                        margin-top: 32px;
                        h1 {
                            font-family: "Arial Black", sans-serif;
                        }
                    }
                    .section-one-middle-info3 {
                        margin-top: 32px;
                        h3 {
                            color: white;
                            font-family: "RighteousRegular", sans-serif;
                        }
                    }
                    .section-one-middle-info4 {
                        margin-top: 45px;
                        gap: 32px;
                        button {
                            border-radius: 10px;
                            margin-right: 32px;
                            cursor: pointer;
                            img {
                                width: 180px;
                                height: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-two {
        position: relative;
        background: #1A1A1A;
        width: 100%;
        padding: 32px 0px;

        .section-two-countries {
            background: #1A1A1A;
            position: relative;
            width: 1400px;
            left: calc(50% - 700px);
            height: calc(100% + -0px);
            display: flex; justify-content: space-between; align-items: center;
            flex-wrap: wrap;

            .section-two-text {
                width: 100%;
                //background: grey;
                margin-top: 32px;
                margin-bottom: 22px;
                text-align: center;
                h3 {
                    color: white;
                    font-family: "RighteousRegular";
                }
            }
            .section-two-img {
                //background: grey;
                width: 100%;
                text-align: center;
                margin-bottom: 22px;
                height: 80px;
                img {
                    height: 100%;
                }
            }
        }
    }


    /**
     *  Two phones
     */
    .section-three{
        position: relative; width: 100%; min-height: 120px; background: #000000; padding: 64px 0px;
        .st__inner_w{
            position: relative; width: 1200px; left: calc(50% - 600px); display: flex; justify-content: space-between;

            @media only screen and (max-width: 1200px){
                left: 50px; width: calc(100% - 100px);
            }
            @media only screen and (max-width: 1000px){
                left: 20px; width: calc(100% - 40px); flex-wrap: wrap;  gap: 20px;
            }

            /* Both left and right */
            .st__inner{
                width: calc(50% - 32px);
                @media only screen and (max-width: 1000px){
                    width: 100%;
                }
            }

            .st__left{
                position: relative; display: flex; flex-wrap: wrap; gap: 32px; flex-direction: column; justify-content: space-between;

                @media only screen and (max-width: 1000px){
                    gap: 20px;
                }

                .st__left__text_w{
                    position: relative; width: 100%;
                    h1{color:#FFFFFF;  }
                    h2{ color: #FFFFFF; font-size: 46px; font-family: "RighteousRegular", sans-serif;}
                    h3{color: #FFFFFF; font-size: 32px; font-family: "RighteousRegular", sans-serif; margin-top: 16px; margin-bottom: 0px}
                    span{
                        color: $lightBlue;
                    }
                }
                .st__lt__ar{
                    text-align: right;
                    h3, h4{color:#4d4d4d; margin: 0px; font-family: "RighteousRegular", sans-serif;}
                    h3{font-size: 36px; margin-top:0px; }
                    h4{
                        font-size: 28px;
                    }

                    @media only screen and (max-width: 1000px){
                        text-align: center;
                    }
                }
                .st__lt__btns{
                    display: flex; justify-content: space-between; width: 100%;
                    a{
                        @media only screen and (max-width: 1000px){
                            width: calc(50% - 10px);
                        }

                        button {
                            border-radius: 10px;
                            // margin-right: 32px;
                            //cursor: pointer;
                            img {
                                height: 80px;
                                //@media only screen and (max-width: 1000px){
                                //    width: 100%; height: auto;
                                //}

                                @media only screen and (max-width: 1000px){
                                    width: 100%; height: auto;
                                }
                            }
                            @media only screen and (max-width: 1000px){
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .st__right{
                position: relative; display: flex; align-items: center;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

