.main__menu_wrapper{
    position: relative; width: 100%; height: 60px; background: grey;

    p{
        font-family: InterTight, sans-serif;
    }

    .ban{
        font-family: Bahnschrift, sans-serif; color: $lightBlue;
    }
}
